{
  "presets": [
    [
      "@babel/preset-env",
      {
        // 你可以根据需要调整目标环境和选项
        "targets": {
          "browsers": ["> 1%, last 2 versions, not dead"]
        },
        // 其他选项，如使用模块转换等
      }
    ]
  ]
}